.contact-center {
    display: flex;
    flex-direction: row;
    background: #FAFBFC;
}

.ticket-list {
    width: 25%;
    border-right: 1px solid #ccc;
    padding: 10px;
}

.conversation {
    width: 40%;
    border-right: 1px solid #D1D6DA;
}

.ticket-details {
    width: 35%;
    padding: 10px;
}