
.container{
    position: relative;
}
.userProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }

  @media (max-width: 768px) {
    .userProfile {
        border: none;
      }
      .container{
        position: fixed;
        top: 0;
        right: 0;
        border: none;
      }
      .userName{
        display: none;
      }
    .logout {
      top: 60px;
      right: 20px;
      }
      .logout p{
        font-size: 14px;
        padding: 15px 0px;
        margin: 0;
        text-wrap: nowrap;
      }
  }