.chatContainer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #fff;
}
.chatIcon{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #33475B;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}
.chatIcon:hover {
    background-color: #2C3E50;
    transform: scale(1.05);
}
.chatWindow, .welcomeMessage{
    position: absolute;
    bottom: 80px;
    right: 20px;
}

@media (max-width: 768px) {
    .chatContainer {
        background: #fff;
        width: 100%;
        height: 100%;
        bottom: 0px;
        right: 0px;
    }
    .chatWindow, .welcomeMessage{
        width: 100%;
        bottom: 150px;
        right: 0px;
        padding: 10px;
    }
}